.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, minmax(274px, 0fr));
  background: black;
  height: 825px;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: #aa00ff;
}

@media all and (max-device-width: 480px)
{
  .grid-container {
   display: inline;
}

}
