@media all and (max-device-width: 480px)
{
  .header {
    justify-content: center;
    width: 25%;
    margin: auto;
  }

  .title {
    font-size: 3em !important;
    margin-left: 0!important;
    position: inherit!important;
  }
}

.header {
  display: flex;
  height: 8em;
  background-color: black;
  padding-bottom: 20px;
}
  
nav {
  height: 70px;
  line-height: 70px;
}
  
.link-title {
  text-decoration: none;
}
  

.title {
  margin-top: 40px;
    margin-left: 30px;
    font-size: 4em;
    color: #aa00ff;
    text-align: left;
    background-attachment: none;
    text-decoration: none !important;
    font-family: 'Crazy Metro';
    position: absolute;
    font-weight: lighter;
  }
  
.title:hover {
  animation: blinker 0.2s linear infinite;
  background-color: rgba(255, 255, 255, 0);
}

@keyframes blinker {
  100% {
    opacity: 0;
  }
}

