.playlist-item {
  color: aliceblue;
  cursor: pointer;
  width: 23%;
}

.track-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 7em;
  font-size: 18px;
  width: auto;
  overflow-y: scroll;
  width: 1372px;
  width: 60%!important;
  margin: auto;
}

.track-title {
  font-family: system-ui;
  font-weight: 800;
  font-size: 3em;
  color: #aa00ff;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: lighter;
  animation: fade 0.7s ease;
}
  

.tracks p {
  font-size: 1em;
  margin: 0;
  animation: fade 0.7s ease;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
}

